In [2]:
import mysql.connector
import pandas as pd
import ast
import numpy as np
import torch

# #device = torch.device("cpu")
# device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu") # Check if a GPU is present
# print(device)
# print(torch.cuda.get_device_name(0))
# print(device)


mydb = mysql.connector.connect(
  host="10.18.16.100",
  user="jmc",
  database = "NDEX_RealTime_2022",
  password="jmc"
)

mydb2 = mysql.connector.connect(
  host="10.18.16.100",
  user="jmc",
  database = "NDEX_RealTime_2022",
  password="jmc"
)

mydb3 = mysql.connector.connect(
  host="10.18.16.100",
  user="jmc",
  database = "NDEX_RealTime_2022",
  password="jmc"
)
mydb4 = mysql.connector.connect(
  host="10.18.16.100",
  user="jmc",
  database = "NDEX_RealTime_2022",
  password="jmc"
)


special = "'(),"

cursor4=mydb4.cursor()
cursor3=mydb3.cursor()
cursor2=mydb2.cursor()
cursor=mydb.cursor()

cursor.execute("SELECT table_name FROM information_schema.tables")
cursor3.execute("SELECT detector_id FROM detectors WHERE longitude BETWEEN -115110099 AND -114996040 AND latitude BETWEEN 36042381 AND 36155562 AND detector_name LIKE 'I-515 NB%';")
cursor4.execute("SELECT table_name FROM information_schema.tables")



special1="d_(),''"
special2 ="(),''"
data = np.empty((1,8), int)
y = 1


table_names1 = []
table_names2 = []
table_names3 = []

detectors=[]

for detector_id in cursor3:


    for spec1 in special1:
        detector_id = str(detector_id).replace(spec1, "")
    detector_id = str(detector_id[:-1])
    if detector_id not in detectors:
        detectors.append(detector_id)

print(detectors)


for table_name in cursor:
    
    for spec in special1:
        
        table_name = str(table_name).replace(spec, "")

    table_names1.append(table_name)

print(len(table_names1))
    
for table_name in cursor4:
    for spec1 in special2:

        table_name = str(table_name).replace(spec1, "")

    table_names2.append(table_name)
    
for table in table_names2:

    table_names3.append(table)

print(len(table_names3))
    



    
        
        




        
    

        
       


    
        

    

table_unq=[]
        
    
for x in range(len(detectors)):
    for y in range(len(table_names1)):
        if detectors[x] == table_names1[y]:
            table = table_names3[y]
            if table not in table_unq:
                table_unq.append(table)
            





        #temp = "SELECT %s.lane, %s.vehicle_count" % list1[x] % list1[x]
                temp = f"SELECT {table}.lane, {table}.vehicle_count, {table}.index_date, {table}.occupancy, {table}.vehicle_speed, dates.date_time, dates.date_index FROM dates INNER JOIN {table} ON {table}.index_date = dates.date_index"




                table_name_data = pd.read_sql_query(temp, mydb2)

                if np.size(table_name_data)!=0:

                    d = np.full((table_name_data.shape[0], 1), y)
                    table_name_data = np.hstack((table_name_data,d))
                    print(table_names3[y])
                    print(np.size(table_name_data))

                    data = np.concatenate((data, table_name_data))
                    y+=1










data = data[1:]

data1 = np.delete(data, np.where((data[:, 0] == 'agg'))[0], axis=0)


data2 = data1[np.where(data1[:,2]%5 == 0)]

I515Data = pd.DataFrame(data2)

I515Data.to_csv(r'C:\Users\doyup\Downloads\I515_NB.csv', index=False)

['2151278', '2152362', '2153277', '2154366', '2191284', '2192174', '2192282', '2193281', '2193360', '2194361', '2221172', '2222285', '3741167', '3741289', '3742169', '3743287', '3751290', '3752164', '3752293', '3753166', '3753168', '3761134', '3762294', '3763291', '3771162', '3772296', '3781301', '3782299', '3783298', '3784130', '3792302', '5571128']
4164
4164
d_215_1_278
3790560
d_215_2_362
4964560
d_219_1_284
6581504
d_219_2_282
6813360
d_219_3_360
7147400
d_219_4_361
2127360
d_222_1_172
5342752
d_222_2_285
4574096
d_374_2_169
428880
d_374_3_287
5417144
d_375_2_164
5407616
d_375_3_166
5705856
d_376_1_134
6619440
d_376_2_294
6627560
d_376_3_291
2085672
d_377_1_162
1832992
d_377_2_296
5589944
d_378_1_301
5560256
d_378_2_299
6865400
d_378_3_298
5589456
d_378_4_130
7163280
d_379_2_302
3743144